<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta arroz con pollo</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h2 class="subtitulos">Arroz con pollo</h2>
    <img src="../img/arroz-con-pollo.jpg" width="500" height="250" alt="foto arroz con pollo">
    <p>Esta receta de arroz con pollo es más sencilla de preparar de lo que te imaginas. Es una comida abundante y muy alimenticia de la que pueden comer muchas personas. ¡Y que la van a disfrutar!<br>Te voy a explicar a continuación como preparar este delicioso plato.</p>

    <h3>Ingredientes</h3>
    <ul>
        <li>1 pollo mediano picado en trozos</li>
        <li>2 tazas de arroz</li>
        <li>4 tazas de caldo de pollo</li>
        <li>1/2 pimiento rojo</li>
        <li>1 ají ó guindilla puede ser dulce o picante según tu antojo</li>
        <li>1 puño pequeño de granos de maíz</li>
        <li>1 trozo pequeño de chorizo calcula unos 2 cm de largo</li>
        <li>1 cebolla mediana</li>
        <li>2 dientes de ajo</li>
        <li>6 o 7 aceitunas negras</li>
        <li>1 taza de arvejas frescas</li>
        <li>Aceite de oliva</li>
        <li>Sal</li>
        <li>Pimienta</li>
        <li>Colorante amarillo</li>
    </ul>

    <h3>Preparación</h3>
    <ol>
        <li>En una olla o paellera agrega aceite de oliva y sofríe el ajo, luego la cebolla,<br>el pimiento, guindilla, el chorizo, las aceitunas y de último el tomate.<br> Agrega una pizca de sal para que resalten los sabores y reserva todo este sofrito en un recipiente aparte.</li>
        <li>En esta misma olla, con un poco más de aceite de oliva sella las piezas de pollo,<br>incluyendo pechugas, por todos sus lados. Seguidamente incorpora de vuelta<br> el sofrito y mezcla.</li>
        <li>Agrega las 2 tazas de arroz blanco, revuelve bien y pon las 4 tazas de caldo de pollo,<br>una cucharadita de sal, un poco de pimienta al gusto y una cucharadita de colorante amarillo.<br>Finalmente pon el maíz y las arvejas frescas. Revuelve nuevamente para que el pollo,<br>arroz y verduras se distribuyan a lo largo de la paellera y deja que hierva en paz.</li>
        <li>Cuando el líquido esté casi seco, baja el fuego al mínimo y tapa. Deja cocinar por 20 minutos.</li>
        <li>Prueba el grano, si está listo, aparta del fuego y sirve con un chorro de aceite de oliva por encima.</li>
    </ol><br>

    <iframe width="500" height="250" src="https://www.youtube.com/embed/FU6ClwYHBHg" title="Receta de arroz con pollo casero y fácil | Comedera" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>

    <a href="https://www.comedera.com/receta-de-arroz-con-pollo/" id="enlaces"> Enlace a página web</a><br>  
    <a href="../views/instructivo2.html" id="enlaces">Receta budin de pan</a><br>
    <a href="../../index.html" id="enlaces">Volver al inicio</a>

</body>
</html>